:root {
  --purple: #382446;
  --white: #fff;
  --light-purple: #d6bee8;
}

/* 
This border is used to see how the boxes are aligning. 
Remove or change color when layout is complete. 
*/
/*
* {
  border: 1px solid green;
  box-sizing: border-box;
}
*/

body {
  background-color: var(--light-purple);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 175%;
}

h3 {
  font-size: 150%;
}

  header {
    padding: 2%;
    background-color: var(--purple);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .banner {
    width: 100%;
    height: 200px;
    background-image: url("../images/flowers.jpeg");
    background-size: cover; 
    background-position: center;
}

/* styles links */

  nav ul {
    display: flex;
    justify-content: space-evenly;
    min-width: 300px;
  }

  nav a {
    color: var(--white);
    font-weight: bold;
    text-decoration: none;
  }

.about-me-header {
  display: flex;
  justify-content: flex-start;
  padding: 2%;
  margin: 1%;
  background-color: var(--purple);
  color: var(--white);
}

.about-me-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  padding: 1%;
  margin: 1%;
  background-color: var(--light-purple);
}

.about-me {
  padding: 1%;
  margin: 1%;
  background-color: var(--purple);
  color: var(--white);
} 

#profile-picture {
  max-height: 25%;
  max-width: 25%;
}
 
.projects-header {
  display: flex;
  justify-content: flex-start;
  padding: 2%;
  margin: 1%;
  background-color: var(--purple);
  color: var(--white);
}

.hero-project {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1%;
  margin: 1%;
  background-color: var(--light-purple);
}  

#hero-image {
    max-height: 100%;
    max-width: 100%;  
    padding: 2%;
    margin: 1%;
    background-color: var(--purple)
  }

/*First row of projects */

  .projects {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    padding: 1%;
    margin: 1%;
    background-color: var(--light-purple);
  }

  .projects img {
    max-width: 85%;
    max-height: 85%;
    padding: 2%;
    margin: 2%;
    background-color: var(--purple);
  }

/* Second row of projects */
  .projects-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    padding: 1%;
    margin: 1%;
    background-color: var(--light-purple);
  }

  .projects-2 img {
    max-width: 85%;
    max-height: 85%;
    padding: 2%;
    margin: 2%;
    background-color: var(--purple);
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purple);
    color: var(--white);
    padding: 2%;
  }
  
  /*Adjusts display for smaller screen size*/

  @media screen and (max-width: 798px) {
    header {
      flex-direction: column;
    }
    body {
      flex-direction: column;
    }
    .about-me-container {
      flex-direction: column;
    }
    .projects {
      flex-direction: column;
    }
    .projects-2 {
      flex-direction: column;
    }
    footer {
      flex-direction: column;
    }
  }
  
